Embedded_Platform/BUILD/Controllers/Controller.o
Embedded_Platform/BUILD/Controllers/Controller.d
Embedded_Platform/BUILD/CommandInterpreter/CommandInterpreter.o
Embedded_Platform/BUILD/CommandInterpreter/CommandInterpreter.d
Embedded_Platform/BUILD/Blinker/Blinker.o
Embedded_Platform/BUILD/Blinker/Blinker.d
Embedded_Platform/BUILD/BezierMotionPlanner/BezierMotionPlanner.o
Embedded_Platform/BUILD/BezierMotionPlanner/BezierMotionPlanner.d
Embedded_Platform/BUILD/SHARP_IR_distance/IR_DistanceSensorDriver/IR_DistanceSensorDriver.d
Embedded_Platform/BUILD/SHARP_IR_distance/DistanceSensors/DistanceSensors.o
Embedded_Platform/BUILD/SHARP_IR_distance/DistanceSensors/DistanceSensors.d
Embedded_Platform/BUILD/SERVO/SERVO.o
Embedded_Platform/BUILD/SERVO/SERVO.d
Embedded_Platform/BUILD/Queue/Queue.d
Embedded_Platform/BUILD/Nucleo_testtesttestrpirpi.hex
Embedded_Platform/BUILD/Nucleo_testtesttestrpirpi.elf
Embedded_Platform/BUILD/Nucleo_testtesttestrpirpi.bin
Embedded_Platform/BUILD/MotionController/MotionController.o
Embedded_Platform/BUILD/MotionController/MotionController.d
Embedded_Platform/BUILD/MOVE/MOVE.o
Embedded_Platform/BUILD/MOVE/MOVE.d
Embedded_Platform/BUILD/Linalg/linalg.d
Embedded_Platform/BUILD/Filter/Filter.o
Embedded_Platform/BUILD/Filter/Filter.d
Embedded_Platform/BUILD/main.o
Embedded_Platform/BUILD/main.d
Embedded_Platform/BUILD/VNH/VNH.o
Embedded_Platform/BUILD/VNH/VNH.d
Embedded_Platform/BUILD/Timer/Timer.o
Embedded_Platform/BUILD/Examples/SystemModels/AckermannModel.o
Embedded_Platform/BUILD/Examples/SystemModels/AckermannModel.d
Embedded_Platform/BUILD/Examples/Sensors/SensorTask.o
Embedded_Platform/BUILD/Examples/Sensors/SensorTask.d
Embedded_Platform/BUILD/Examples/Sensors/SensorPublisher.o
Embedded_Platform/BUILD/Examples/Sensors/SensorPublisher.d
Embedded_Platform/BUILD/Examples/Filter/Ekf_am.o
Embedded_Platform/BUILD/Examples/Filter/Ekf_am.d
Embedded_Platform/BUILD/Encoder/EncoderFilter.o
Embedded_Platform/BUILD/Encoder/EncoderFilter.d
Embedded_Platform/BUILD/Encoder/Encoder.o
Embedded_Platform/BUILD/Encoder/Encoder.d
Embedded_Platform/BUILD/Echoer/Echoer.o
Embedded_Platform/BUILD/Echoer/Echoer.d
Embedded_Platform/BUILD/Controllers/PidController.o
Embedded_Platform/BUILD/Controllers/PidController.d
Embedded_Platform/BUILD/Timer/Timer.d
Embedded_Platform/BUILD/TaskManager/TaskManager.o
Embedded_Platform/BUILD/TaskManager/TaskManager.d
Embedded_Platform/BUILD/SystemModels/SystemModels.o
Embedded_Platform/BUILD/SystemModels/SystemModels.d
Embedded_Platform/BUILD/SplineInterpreter/SplineInterpreter.o
Embedded_Platform/BUILD/SplineInterpreter/SplineInterpreter.d
Embedded_Platform/BUILD/SerialMonitor/SerialMonitor.o
Embedded_Platform/BUILD/SerialMonitor/SerialMonitor.d
Embedded_Platform/BUILD/SafetyStop/SafetyStopFunction.o
Embedded_Platform/BUILD/SafetyStop/SafetyStopFunction.d
Embedded_Platform/BUILD/SHARP_IR_distance/IR_DistanceSensorDriver/IR_DistanceSensorDriver.o
RaspiApp/__pycache__/settings.cpython-35.pyc
RaspiApp/__pycache__/UtilitySerialFunc.cpython-34.pyc
RaspiApp/__pycache__/SerialHandler.cpython-34.pyc
RaspiApp/__pycache__/SaverThread.cpython-34.pyc
RaspiApp/__pycache__/RobotEkfThread.cpython-34.pyc
RaspiApp/__pycache__/RobotEKF.cpython-34.pyc
RaspiApp/__pycache__/RTImuThread.cpython-34.pyc
RaspiApp/__pycache__/Encoder.cpython-34.pyc
Rpi_Platform/Examples.py
Rpi_Platform/__pycache__/SerialHandler.cpython-36.pyc
Rpi_Platform/__pycache__/SaveEncoder.cpython-36.pyc
Rpi_Platform/.vscode/settings.json
Rpi_Platform/Apps/.vscode/settings.json
winManager/__pycache__/MultiMonitor.cpython-36.pyc
winManager/history2/rpi9.txt
winManager/history2/rpi7.txt
winManager/history2/rpi5.txt
winManager/history2/rpi101.txt
Laborator/build/first
Laborator/build/cmake_install.cmake
Laborator/build/app2
Laborator/build/app1
Laborator/build/Makefile
Laborator/build/CMakeFiles/progress.marks
Laborator/build/CMakeFiles/main.dir/progress.make
Laborator/build/CMakeFiles/main.dir/main.cpp.o
Laborator/build/CMakeFiles/main.dir/link.txt
Laborator/build/CMakeFiles/main.dir/flags.make
Laborator/build/CMakeFiles/main.dir/depend.make
Laborator/build/CMakeFiles/main.dir/depend.internal
Laborator/build/CMakeFiles/main.dir/cmake_clean.cmake
Laborator/build/CMakeFiles/main.dir/build.make
Laborator/build/CMakeFiles/app1.dir/app1v1.cpp.o
Laborator/build/CMakeFiles/app1.dir/app1.cpp.o
Laborator/build/CMakeFiles/app1.dir/DependInfo.cmake
Laborator/build/CMakeFiles/app1.dir/CXX.includecache
Laborator/build/CMakeFiles/TargetDirectories.txt
Laborator/build/CMakeFiles/Makefile2
Laborator/build/CMakeFiles/Makefile.cmake
Laborator/build/CMakeFiles/CMakeOutput.log
Laborator/build/CMakeFiles/CMakeError.log
Laborator/build/CMakeFiles/CMakeDirectoryInformation.cmake
Laborator/build/CMakeFiles/3.10.0/CompilerIdCXX/a.out
Laborator/build/CMakeFiles/3.10.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
Laborator/build/CMakeFiles/3.10.0/CompilerIdC/a.out
Laborator/build/CMakeFiles/3.10.0/CompilerIdC/CMakeCCompilerId.c
Laborator/build/CMakeFiles/3.10.0/CMakeSystem.cmake
Laborator/build/CMakeFiles/3.10.0/CMakeDetermineCompilerABI_CXX.bin
Laborator/build/main
Laborator/build/CMakeFiles/3.10.0/CMakeDetermineCompilerABI_C.bin
Laborator/build/CMakeFiles/3.10.0/CMakeCXXCompiler.cmake
Laborator/build/CMakeFiles/3.10.0/CMakeCCompiler.cmake
Laborator/build/CMakeCache.txt
Laborator/bin/main.o
Laborator/bin/main
Laborator/bin/FF.o
Laborator/build/CMakeFiles/app2.dir/DependInfo.cmake
Laborator/build/CMakeFiles/app2.dir/CXX.includecache
Laborator/build/CMakeFiles/app1.dir/src/test.cpp.o
Laborator/build/CMakeFiles/app1.dir/src/serialPortHandler.cpp.o
Laborator/build/CMakeFiles/app1.dir/src/example2.cpp.o
Laborator/build/CMakeFiles/app1.dir/src/example1.cpp.o
Laborator/build/CMakeFiles/app1.dir/src/SerialComManager.cpp.o
Laborator/build/CMakeFiles/app1.dir/src/MessageHandler.cpp.o
Laborator/build/CMakeFiles/app1.dir/src/Message.cpp.o
Laborator/build/CMakeFiles/app1.dir/progress.make
Laborator/build/CMakeFiles/app1.dir/link.txt
Laborator/build/CMakeFiles/app1.dir/flags.make
Laborator/build/CMakeFiles/app1.dir/depend.make
Laborator/build/CMakeFiles/app1.dir/depend.internal
Laborator/build/CMakeFiles/app1.dir/cmake_clean.cmake
Laborator/build/CMakeFiles/app1.dir/build.make
Laborator/build/CMakeFiles/cmake.check_cache
Laborator/build/CMakeFiles/app2.dir/src/test.cpp.o
Laborator/build/CMakeFiles/app2.dir/src/serialPortHandler.cpp.o
Laborator/build/CMakeFiles/app2.dir/src/example2.cpp.o
Laborator/build/CMakeFiles/app2.dir/src/example1.cpp.o
Laborator/build/CMakeFiles/app2.dir/src/SerialComManager.cpp.o
Laborator/build/CMakeFiles/app2.dir/src/MessageHandler.cpp.o
Laborator/build/CMakeFiles/app2.dir/src/Message.cpp.o
Laborator/build/CMakeFiles/app2.dir/progress.make
Laborator/build/CMakeFiles/app2.dir/link.txt
Laborator/build/CMakeFiles/app2.dir/flags.make
Laborator/build/CMakeFiles/app2.dir/depend.make
Laborator/build/CMakeFiles/app2.dir/depend.internal
Laborator/build/CMakeFiles/app2.dir/cmake_clean.cmake
Laborator/build/CMakeFiles/app2.dir/build.make
Laborator/build/CMakeFiles/app2.dir/app2.cpp.o
Laborator/build/CMakeFiles/main.dir/DependInfo.cmake
Laborator/build/CMakeFiles/main.dir/CXX.includecache
Laborator/build/CMakeFiles/first.dir/src/test.cpp.o
Laborator/build/CMakeFiles/first.dir/progress.make
Laborator/build/CMakeFiles/first.dir/link.txt
Laborator/build/CMakeFiles/first.dir/flags.make
Laborator/build/CMakeFiles/first.dir/firstApp.cpp.o
Laborator/build/CMakeFiles/first.dir/depend.make
Laborator/build/CMakeFiles/first.dir/depend.internal
Laborator/build/CMakeFiles/first.dir/cmake_clean.cmake
Laborator/build/CMakeFiles/first.dir/build.make
Laborator/build/CMakeFiles/first.dir/DependInfo.cmake
Laborator/build/CMakeFiles/first.dir/CXX.includecache
Laborator/build/CMakeFiles/feature_tests.cxx
Laborator/build/CMakeFiles/feature_tests.c
Laborator/build/CMakeFiles/feature_tests.bin
Simulated_GPS/__pycache__/gpsServerThread.cpython-36.pyc
Simulated_GPS/__pycache__/ArucoDetector.cpython-34.pyc
Simulated_GPS/Test/__pycache__/GpsMesReader.cpython-36.pyc
Simulated_GPS/Test/__pycache__/GpsMesReader.cpython-34.pyc
Simulated_GPS/Test/__pycache__/GpsCollector.cpython-36.pyc
Simulated_GPS/Test/__pycache__/GpsCollector.cpython-34.pyc
Simulated_GPS/Test/__pycache__/ErrorCalc.cpython-36.pyc
Rpi_Platform/Apps/mapPlotter/__pycache__/myGraphDecoder.cpython-36.pyc
Simulated_GPS/Test/__pycache__/MarkerReader.cpython-36.pyc
Simulated_GPS/Test/__pycache__/MarkerReader.cpython-34.pyc
RaspiApp/Utilities/__pycache__/__init__.cpython-35.pyc
RaspiApp/Utilities/__pycache__/RestartableThread.cpython-35.pyc
RaspiApp/Action/__pycache__/takeCurve.cpython-35.pyc
RaspiApp/Action/__pycache__/movingScript.cpython-35.pyc
RaspiApp/Action/__pycache__/__init__.cpython-35.pyc
RaspiApp/Action/__pycache__/UtilitySerialFunc.cpython-35.pyc
RaspiApp/Action/__pycache__/UtilitySerialFunc.cpython-34.pyc
RaspiApp/Action/__pycache__/SerialHandler.cpython-35.pyc
RaspiApp/Action/__pycache__/SerialHandler.cpython-34.pyc
*.pyc
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/progress.marks
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/src/pyboost_cv4_converter.cpp.o
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/src/pyboost_cv3_converter.cpp.o
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/src/pyboost_cv2_converter.cpp.o
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/src/my_python_module.cpp.o
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/src/my/SlicingImage.cpp.o
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/src/my/HistogramProcessing.cpp.o
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/progress.make
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/link.txt
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/flags.make
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/depend.make
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/depend.internal
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/cmake_clean.cmake
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/build.make
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/DependInfo.cmake
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/my_linedetection.dir/CXX.includecache
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/feature_tests.cxx
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/feature_tests.c
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/feature_tests.bin
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/cmake.check_cache
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/TargetDirectories.txt
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/Makefile2
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/Makefile.cmake
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/CMakeOutput.log
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/CMakeError.log
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/CMakeDirectoryInformation.cmake
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/3.7.2/CompilerIdCXX/a.out
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/3.7.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/3.7.2/CompilerIdC/a.out
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/3.7.2/CompilerIdC/CMakeCCompilerId.c
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/3.7.2/CMakeSystem.cmake
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_CXX.bin
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_C.bin
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/3.7.2/CMakeCXXCompiler.cmake
RaspiApp/Reasoning/linedetect/C_code/build/CMakeFiles/3.7.2/CMakeCCompiler.cmake
RaspiApp/Reasoning/linedetect/C_code/.vscode/settings.json
RaspiApp/Reasoning/linedetect/C_code/.vscode/__init__.py
RaspiApp/Reasoning/linedetect/C_code/.vscode/.cmaketools.json
RaspiApp/Reasoning/linedetect/C_code/build/CMakeCache.txt
RaspiApp/Reasoning/TFSD/SettingsFiles/svm4.xml
RaspiAppV3.7z
RaspiApp.zip
Embedded_Platform.zip
RaspiApp/Reasoning/linedetect/C_code/cmake/DetectPython.cmake~
RaspiApp/Reasoning/linedetect/.vscode/settings.json
Embedded_Platform/.vscode/c_cpp_properties.json
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Timer.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Time.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Time.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Task.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Task.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_System.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_System.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Semaphore.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Semaphore.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_CMSIS.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/TARGET_RTOS_M4_M7/TOOLCHAIN_GCC/SVC_Table.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/TARGET_RTOS_M4_M7/TOOLCHAIN_GCC/SVC_Table.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/TARGET_RTOS_M4_M7/TOOLCHAIN_GCC/HAL_CM4.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/TARGET_RTOS_M4_M7/TOOLCHAIN_GCC/HAL_CM4.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/RTX_Conf_CM.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/RTX_Conf_CM.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/HAL_CM.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/HAL_CM.d
Embedded_Platform/BUILD/mbed-rtos/rtos/rtos_idle.o
Embedded_Platform/BUILD/mbed-rtos/rtos/rtos_idle.d
Embedded_Platform/BUILD/mbed-rtos/rtos/Thread.o
Embedded_Platform/BUILD/mbed-rtos/rtos/Thread.d
Embedded_Platform/BUILD/mbed-rtos/rtos/Semaphore.o
Embedded_Platform/BUILD/mbed-rtos/rtos/Semaphore.d
Embedded_Platform/BUILD/mbed-rtos/rtos/RtosTimer.o
Embedded_Platform/BUILD/mbed-rtos/rtos/RtosTimer.d
Embedded_Platform/BUILD/mbed-rtos/rtos/Mutex.o
Embedded_Platform/BUILD/mbed-rtos/rtos/Mutex.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Mutex.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Mutex.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Memory.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Memory.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_MemBox.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_MemBox.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Mailbox.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Mailbox.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_List.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_List.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Event.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Event.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_CMSIS.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Robin.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Robin.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_OsEventObserver.d
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_Timer.o
Embedded_Platform/BUILD/mbed-rtos/rtx/TARGET_CORTEX_M/rt_OsEventObserver.o
Embedded_Platform/BUILD/src/SplineInterpreter/SplineInterpreter.d
Embedded_Platform/BUILD/src/SerialMonitor/serialmonitor.o
Embedded_Platform/BUILD/src/SerialMonitor/serialmonitor.d
Embedded_Platform/BUILD/src/SafetyStop/safetystopfunction.o
Embedded_Platform/BUILD/src/SafetyStop/safetystopfunction.d
Embedded_Platform/BUILD/src/SHARP_IR_distance/IR_DistanceSensorDriver/ir_distancesensordriver.o
Embedded_Platform/BUILD/src/SHARP_IR_distance/IR_DistanceSensorDriver/ir_distancesensordriver.d
Embedded_Platform/BUILD/src/SHARP_IR_distance/DistanceSensors/distancesensors.o
Embedded_Platform/BUILD/src/SHARP_IR_distance/DistanceSensors/distancesensors.d
Embedded_Platform/BUILD/src/Queue/queue.o
Embedded_Platform/BUILD/src/BezierCurve/polynomialfunction.d
Embedded_Platform/BUILD/src/BezierCurve/beziercurve.o
Embedded_Platform/BUILD/src/BezierCurve/beziercurve.d
Embedded_Platform/BUILD/src/main.o
Embedded_Platform/BUILD/src/main.d
Embedded_Platform/BUILD/src/Timer/timer.o
Embedded_Platform/BUILD/src/Timer/timer.d
Embedded_Platform/BUILD/src/TaskManager/taskmanager.o
Embedded_Platform/BUILD/src/TaskManager/taskmanager.d
Embedded_Platform/BUILD/src/SystemModels/systemmodels.o
Embedded_Platform/BUILD/src/SystemModels/systemmodels.d
Embedded_Platform/BUILD/src/SplineInterpreter/SplineInterpreter.o
Embedded_Platform/BUILD/src/Queue/queue.d
Embedded_Platform/BUILD/src/Move/move.o
Embedded_Platform/BUILD/src/Move/move.d
Embedded_Platform/BUILD/src/MotionController/motioncontroller.o
Embedded_Platform/BUILD/src/MotionController/motioncontroller.d
Embedded_Platform/BUILD/src/Linalg/linalg.o
Embedded_Platform/BUILD/src/Linalg/linalg.d
Embedded_Platform/BUILD/src/Filter/filter.o
Embedded_Platform/BUILD/src/Filter/filter.d
Embedded_Platform/BUILD/src/Examples/echoer.o
Embedded_Platform/BUILD/src/Examples/echoer.d
Embedded_Platform/BUILD/src/Examples/blinker.o
Embedded_Platform/BUILD/src/Examples/blinker.d
Embedded_Platform/BUILD/src/Examples/SystemModels/ackermannmodel.o
Embedded_Platform/BUILD/src/Examples/SystemModels/ackermannmodel.d
Embedded_Platform/BUILD/src/Examples/Sensors/sensortask.o
Embedded_Platform/BUILD/src/Examples/Sensors/sensortask.d
Embedded_Platform/BUILD/src/Examples/Sensors/sensorpublisher.o
Embedded_Platform/BUILD/src/Examples/Sensors/sensorpublisher.d
Embedded_Platform/BUILD/src/Examples/Filter/ekf_am.o
Embedded_Platform/BUILD/src/Examples/Filter/ekf_am.d
Embedded_Platform/BUILD/src/Encoder/quadraticencodertask.o
Embedded_Platform/BUILD/src/Encoder/quadraticencodertask.d
Embedded_Platform/BUILD/src/Encoder/quadraticencoder.o
Embedded_Platform/BUILD/src/Encoder/quadraticencoder.d
Embedded_Platform/BUILD/src/Encoder/encoderFilter.o
Embedded_Platform/BUILD/src/Encoder/encoderFilter.d
Embedded_Platform/BUILD/src/Encoder/encoder.o
Embedded_Platform/BUILD/src/Encoder/encoder.d
Embedded_Platform/BUILD/src/Drivers/vnh.o
Embedded_Platform/BUILD/src/Drivers/vnh.d
Embedded_Platform/BUILD/src/Drivers/servo.o
Embedded_Platform/BUILD/src/Drivers/servo.d
Embedded_Platform/BUILD/src/Controllers/pidcontroller.o
Embedded_Platform/BUILD/src/Controllers/pidcontroller.d
Embedded_Platform/BUILD/src/Controllers/controller.o
Embedded_Platform/BUILD/src/Controllers/controller.d
Embedded_Platform/BUILD/src/CommandInterpreter/commandinterpreter.o
Embedded_Platform/BUILD/src/CommandInterpreter/commandinterpreter.d
Embedded_Platform/BUILD/src/BezierMotionPlanner/beziermotionplanner.o
Embedded_Platform/BUILD/src/BezierMotionPlanner/beziermotionplanner.d
Embedded_Platform/BUILD/src/BezierCurve/polynomialfunction.o
Embedded_Platform/BUILD/Nucleo_mbedrobot.hex
Embedded_Platform/BUILD/Nucleo_mbedrobot.elf
Embedded_Platform/test/build/CMakeFiles/
Embedded_Platform/test/build/CMakeCache.txt
Embedded_Platform/test/build/cmake_install.cmake
Embedded_Platform/BUILD/src/Encoder/quadratureencodertask.o
Embedded_Platform/BUILD/src/Encoder/quadratureencodertask.d
Embedded_Platform/BUILD/src/Encoder/quadratureencoder.o
Embedded_Platform/BUILD/src/Encoder/quadratureencoder.d
Embedded_Platform/BUILD/src/Encoders/quadratureencodertask.o
Embedded_Platform/BUILD/src/Encoders/quadratureencodertask.d
Embedded_Platform/BUILD/src/Encoders/quadratureencoder.o
Embedded_Platform/BUILD/src/Encoders/quadratureencoder.d
Embedded_Platform/BUILD/src/Encoders/encoderFilter.o
Embedded_Platform/BUILD/src/Encoders/encoderFilter.d
Embedded_Platform/BUILD/src/Encoders/encoder.o
Embedded_Platform/BUILD/src/Encoders/encoder.d
Embedded_Platform/BUILD/src/Controllers/converters.o
Embedded_Platform/BUILD/src/Controllers/converters.d
Embedded_Platform/test/build/Makefile
Embedded_Platform/.vscode/settings.json
Embedded_Platform/test/build/runUnitTest.exe
Embedded_Platform/flash.bat
Embedded_Platform/doc/html/
*.tmp
Embedded_Platform/doc/.ipynb_checkpoints/
Rpi_Platform/.ipynb_checkpoints/Raspi_platform-checkpoint.ipynb
doc/.ipynb_checkpoints/Raspi_platform-checkpoint.ipynb
Embedded_Platform/test/
